{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in transactions %}
                <tr>
                    <td>{{ entry["symbol"] }}</td>
                    <td>{{ entry["quantity"] }}</td>
                    <td>{{ entry["price"] }}</td>
                    <td>{{ entry["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
