{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ symbol }}</td>
                    <td>{{ price }}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}
